#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-block-key {
  background: #4b4b4b;
  border-radius: 10px;
  width: 270px;
  padding: 10px;
  margin: 5% auto;
  box-shadow: 7px 10px 8px -4px rgba(0, 0, 0, 0.35);
}

.backrgound-key {
  background-color: #000000;
  padding: 7px;
  border-radius: 10px;
}

.btn-all {
  background-color: #d3d3d3;
  padding: 6px 27px;
  font-size: 23px;
  margin: 3px;
  border: 0.5px solid gray;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}

.btn-all:hover {
  background-color: #b7b7b7;
  box-shadow: 7px 10px 8px 4px rgba(120, 120, 120, 0.2);
}

.btn-all:active {
  background-color: #696969;
  box-shadow: 7px 10px 8px 4px rgba(0, 0, 0, 0.28);
}

.screen-display {
  border: 1px solid gray;
  border-radius: 5px;
  width: 220px;
  height: 90px;
  margin: 0 auto;
}

.sreen-span {
  display: flex;
  justify-content: center;
  margin: 20%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.message-open {
  color: green;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #00c400;
  border-radius: 2px;
  max-width: 220px;
  margin: 5px auto;
}

.message-close {
    color: red;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #940000;
    border-radius: 2px;
    max-width: 220px;
    margin: 5px auto;
  }